---
layout: default
title: Home
---

<p><span class="branding">Null3en und E1nsen</span> setzt sich ein für die Digitale Aufklärung der Gesellschaft. </p>
<a target="_self" href="/about" class="btn btn-dark"> Mehr über uns &rarr;</a>

<!-- Posts Index
================================================== -->
<div class="blog-grid-container">
    {% for post in paginator.posts %}
        {% include postbox.html %}
    {% endfor %}
</div>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

